#NEXTAUTH
NEXTAUTH_URL="YOUR NEXTAUTH URL"
NEXTAUTH_SECRET="YOUR CUSTOM NEXTAUTH SECRET"

#GOOGLE AUTH
GOOGLE_CLIENT_ID="YOUR GOOGLE CLIENT ID"
GOOGLE_CLIENT_SECRET="YOUR GOOGLE CLIENT SECRET"

#GITHUB AUTH
GITHUB_CLIENT_ID="YOUR GITHUB CLIENT ID"
GITHUB_CLIENT_SECRET="YOUR GOOGLE CLIENT SECRET"

#PRISMA
DATABASE_URL="postgresql://<username>:<password>@<host>:<port>/<database_name>?schema=public"