NEXTAUTH_SECRET="YOUR CUSTOM NEXTAUTH SECRET"
GOOGLE_CLIENT_ID="YOUR GOOGLE CLIENT ID"
GOOGLE_CLIENT_SECRET="YOUR GOOGLE CLIENT SECRET"
GITHUB_CLIENT_ID="YOUR GITHUB CLIENT ID"
GITHUB_CLIENT_SECRET="YOUR GOOGLE CLIENT SECRET"