@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */

@font-face {
  font-family: 'madimione';
  src: url('../public/fonts/madimi_one/MadimiOne-Regular.ttf') format('truetype');
}

.madimi {
  font-family: 'madimione', sans-serif;
}


/* CSS Reset  */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

:root {
  --primary-colour: rgb(203, 240, 120);
  --secondary-colour: rgb(228, 97, 97);
  --link-colour: rgb(255, 165, 0);
  --hover-colour: rgb(255, 224, 211);
  --accent-colour: rgb(255, 165, 0);
  --shadows-colour: rgb(230, 126, 0);
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--primary-colour);
  color: var(--secondary-colour);
  font-family: 'madimione';
  /* background: rgb(22, 22, 22); */
  /* color: white; */
}

a {
  color: var(--link-colour);
  /* text-decoration: none; */
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}
