@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Reset  */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

:root {
  /* --primary-color: rgb(25, 28, 15); */
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  /* background: var(--primary-color); */
  /* background: rgb(22, 22, 22); */
  /* color: white; */
}

a {
  color: white;
  /* text-decoration: none; */
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}